body{
	background-image:url(im/download.jpg);
}

#t {
	background-color:white;
	color:#101010;
	border:7px solid #59534F;
	box-shadow:10px 10px 7px #000000;
	width: 300px;
	text-align:center;
}

#vide {
	border:7px solid #59534F;
	box-shadow:10px 10px 7px #000000;
	border-radius:70px;
}

#h {
	background-color:white;
	color:#101010;
	border:7px solid #59534F;
	box-shadow:10px 10px 7px #000000;
	width: 300px;
	text-align:center;
}

#bu{
	width: 150px;
	height: 50px;
	border:7px solid #676767;
	background-color:#FFFFFF;
	border-radius:100px;
	margin: 5px;
}

#mar {
    margin: 50px;
	border:0px solid #59534F;
	border-radius: 20%;
}

#y {
	background-color:white;
	color:#101010;
	border:7px solid #59534F;
	box-shadow:10px 10px 7px #000000;
	width: 100px;
    margin: 75px;
	text-align:center;
}

#rlt {
    margin: 20px;
}

#ani {
	transform: scale(0.5);
	transition:5s all;

	opacity:0.8;
	border:7px solid #59534F;
	box-shadow:10px 10px 7px #000000;
}
#ani:hover{
	transform: rotate(180deg) scale(0.5);
	
}
